.title{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
}
.link-title{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: black;
    text-decoration: none;
}
.card{
    margin-bottom: 20px;
    background-Color: #fff;
    border-radius: 5px;
    width: 600px;
    padding: 12px;
}
.info{
    display: flex;
    gap: 22px;
    color: grey;
    font-size: 18px;
}
.button{
    padding: 12px;
    border-radius: 5px;
    border: none;
    width: 140px;
    background-color: orange;
    color: white;
    cursor: pointer;
}